<div class="container">
    <div class="row">
        <app-history class="col-md-5" (bookmarkEvent)="receiveBookmark($event)" (playVideoEvent)="receivePlayVideo($event)"></app-history>
        <app-search-bar class="col-md-7" (urlEvent)="receiveUrl($event)" ></app-search-bar>
    </div>
    <div class="row" id="videoRow">
        <app-bookmarks class="col-md-5" (playVideoEvent)="receivePlayVideo($event)"></app-bookmarks>
        <app-video-view class="col-md-7" [url]="url"></app-video-view>
    </div>
</div>



<router-outlet></router-outlet>