<div class="container">
    <div class="row">
        <div class="col-md-5">
            <app-history (bookmarkEvent)="receiveBookmark($event)" (playVideoEvent)="receivePlayVideo($event)"></app-history>
            <app-bookmarks (playVideoEvent)="receivePlayVideo($event)"></app-bookmarks>
        </div>
        <div class="col-md-7">
            <app-search-bar (urlEvent)="receiveUrl($event)" ></app-search-bar>
            <app-video-view [url]="url"></app-video-view>
        </div>
    </div>
</div>



<router-outlet></router-outlet>